body {
    scroll-behavior: smooth;
    background-color: rgb(250, 190, 220);
    justify-content: center;
    font-family: courier, serif;
}
header{
    display: flex;
    background-color: rgba(255, 133, 194, 0.193);
    padding-top: 50px;
    padding-bottom: 25px;
    width: 100%;
    height: 150px;
}
.home-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: top left;
}

.logo-btn-image {
    width: 75px;
    height: 75px;
    object-fit: contain;
    position: fixed;
    justify-content: top left;
    background-color: transparent;
    z-index: 10;
}

.navbar {
    display: flex;
    height: 50px;
    width: 90%;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
}

.button-52 {
  font-size: 2vw;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 1vw;
  margin: 1vw;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgb(255, 255, 1, .1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a {
    text-decoration: none;
    font-family: courier, serif;
    color: black;

}

.button-52:after {
content: "    ";
  background-color: #ffed88;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

/*@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media (max-width: 575px) {
  .button-52 {
    padding: 3px 0px 3px;
    font-size: 10pt;
  }
}*/

h2{
    text-align: right;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 25px;
}
.gallery-section{

    align-items: center;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
}

.bio-pic {
    display: block;
    width: 250px;
    height: auto;
    float: left;
    padding: 10px;

}

.image-container {
    column-count: 3;
    column-gap: space-between;
    width: 100%;
}

.image-card {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.2);
    width: 100%;
    margin: 0 0 1rem;
    break-inside: avoid;
}

.image-card img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: opacity(50%);
    transition: filter 0.5s ease;
}

.image-card p {
    display: block;
   opacity: 0.5;
   margin-left: 5rem;
}

.image-description {
    display: none;
}

.image-card::after {
    content: attr(data-description);
    position: absolute;
    top:15%;
    left: 28%;
    transform: translateX(-50%) translateY(.75rem);
    background: none;
    color: rgb(250, 190, 220);
    padding: 0.4rem 0.6rem;
    border-radius: 0.25rem;
    font-size: 3vw; 
    font-width: bold;
    line-height: 1.2;
    opacity: 0%;
    pointer-events: none;
    transition: opacity .5s ease, transform 0.5s ease;
    max-width: 50%;
    text-align: left;
    text-shadow: 2px 2px 0 rgb(182, 120, 120);
}

.image-card:hover img {
    filter: opacity(100%);
}

.image-card:hover p {
    opacity: 1;
}

.image-card:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.contact-info {
    padding: 20vw;
    margin-bottom: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .image-container {
        column-count: 2;
        padding: 1rem;
    }
}

@media (max-width: 380px) {
    .image-container {
        column-count: 1;
    }
}